BasedOnStyle: Google
PointerAlignment: Right
AccessModifierOffset: -2
IndentWidth: 4
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ColumnLimit: 100
AlignTrailingComments: true
SpaceAfterCStyleCast: false
AlignOperands: true
SpacesInSquareBrackets: false
AlignConsecutiveDeclarations: false
SpacesInContainerLiterals: false
BreakConstructorInitializersBeforeComma: true
AllowAllParametersOfDeclarationOnNextLine: true
ContinuationIndentWidth: 4
TabWidth: 4
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 2
AlignAfterOpenBracket: Align
